.Block {
  width: 100%;
  height: 300px;
  padding: 10px;
  background-color: #61dafb;
}

.List {
  width: 90%;
  padding: 10px;
  background-color: maroon;
}

.listTitle {
  width: 80%;
  padding: 10px;
  background-color: aquamarine;
}

.Title {
  width: 70%;
  padding: 10px;
  background-color: antiquewhite;
}
